<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="7zip" />
	<package id="AndroidStudio" />
	<package id="cyg-get" />
	<package id="dropbox" />
	<package id="git" />
	<package id="GoogleChrome" />
	<package id="kdiff3" />
	<package id="mysql.workbench" />
	<package id="PowerShell" />
	<package id="skype" />
	<package id="thunderbird" />
	<package id="webpicommandline" />
	<package id="filezilla" />
	<package id="vim" source="cygwin" />
	<package id="procps" source="cygwin" />
</packages>
